<nav class="navbar">
  <div class="logo">
    <a href="/">LOGO</a>
  </div>

    <form class="search-container" method="GET" >
      <input type="text" name='q' placeholder="Search...">
      <button type="submit">Search</button>
    </form>


  <div class="registration">
    {% if request.user.is_authenticated %}
    <button><a href="{% url 'logout' %}">Logout</a></button>
    {% else %}
    <button><a href="{% url 'login' %}">Login</a></button>
    <button><a href="{% url 'register' %}">Register</a></button>
    {% endif %}
  </div>

</nav>

</hr>