

<div class="participants">
    <h3 class="participants__top">Participants <span>({{participants_count}} Joined)</span></h3>
    <div class="participants__list scroll">
{% for user in participants %}

        <a href="{% url 'user-profile' user.id%}" class="participant">
            <div class="avatar avatar--medium">
                <img src="{{user.avatar.url}}" />
            </div>
            <p>
                {{user.username}}
                <span>@{{user.username}}</span>
            </p>
        </a>
        {% endfor %}
    </div>
</div>

